.header {
    width: 100%;
    height: 7vw;
    position: fixed;
  
  
    display: flex;
    justify-content: center;
    align-items: flex-end;
  
    background-color: white;
    z-index: 2;
  }
  
  .logo {
      height: auto;
      width: 20vw;

  }
  
  .nav {
    font-family: "Dosis", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3vw;
    color: #BC002D;
  
    position: fixed;
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    padding: 7vw 0 1vw 0;

    background-color: white;
    z-index: 1;
  }