.header {
  width: 100%;
  height: 7vh;
  position: fixed;

  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 3vh;

  background-color: #bc002d;
  z-index: 2;
}

.logo {
  height: auto;
  width: 15vh;
  padding-top: 1vh;
}

.nav {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4vh;
  color: white;

  position: fixed;
  width: 100%;

  display: none;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 30vh;
  gap: 20px;
  z-index: 2; // Ensure it is above the overlay
}

.nav.open {
  display: flex;
}

.hamburger {
  display: flex;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 3;

  width: 4vh;
  height: 3vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;

  .bar {
    width: 100%;
    height: 0.5vh;
    background-color: white;
    border-radius: 0.5vh;
    transition: all 0.3s;
  }
}

.closeButton {
  position: absolute;
  top: 4vh;
  right: 4vw;
  transform: translateY(-50%);
  z-index: 5;
  background: none;
  border: none;
  color: white;
  font-size: 8vh;
  cursor: pointer;
}

/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #bc002d;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 2; // Below the nav but above the rest
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 992px) {
  .header {
    width: 100%;
    height: 7vw;
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-left: 0;

    background-color: #bc002d;
    z-index: 2;
  }

  .logo {
    height: auto;
    width: 20vw;
    padding-top: 0;
  }

  .nav {
    font-family: "Dosis", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3vw;
    color: white;

    position: fixed;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    gap: 1.5vw;

    padding: 7vw 0 1vw 0;
    background-color: #bc002d;
    z-index: 1;
  }

  .hamburger {
    display: none;
  }

  .closeButton {
    display: none;
  }

  .overlay {
    display: none;
  }
}
