.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.second {
  width: 100vw;
  height: 150vh;
  overflow: hidden;
}

.steamy {
  display: flex;
  justify-content: center;
  gap: 1vw;
  padding: 3vw 0 1vw 0;
  margin-top: 25vh;
}

.steam1 {
  width: 2vw;
  height: auto;
}
.steam2 {
  width: 2vw;
  height: auto;
}
.steam3 {
  width: 2vw;
  height: auto;
}

.takoyaki {
  height: 20vw;
  width: 20vw;
  background-color: #bc002d;
  border-radius: 50%;
  position: fixed;
  margin-top: 40vh;
  z-index: 0;
}

.about__circle {
  width: 20vw;
  height: 20vw;
  background-color: #bc002d;
  border-radius: 50%;
  margin-top: 40vh;
  position: fixed;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3vw;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40vw;
  margin: 50vh 2vw 0 2vw;
  position: fixed;
  z-index: 1;

  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2vw;
  color: black;
}

.about__text {
  width: 20vw;
  text-align: justify;
}

.footer {
  position: absolute;
  width: 100vw;
  height: 22vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10vw;

  border-top: solid 1vw #c0a891;
  background-color: white;
  color: #464646;

  z-index: 1;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2 {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.4vw;
  color: #464646;
}

.h3 {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.1vw;
  color: #464646;
}

.p {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1vw;
  color: #464646;
}
